.left-input {
  margin-right: 10px;
  margin-bottom: 30px;
  width: 37vw;
  background-color: transparent;
}
.email {
  width: 75vw;
  margin-bottom: 30px;
  background-color: transparent;
}
.title2 {
  width: 75vw;
  margin: auto;
  font-family: Roboto;
  font-weight: 600;
}

.right-input {
  width: 37vw;
  margin-bottom: 30px;
  background-color: transparent;
}
.title2 {
  font-family: Roboto;
  font-weight: 600;
}

#submit {
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
  height: 6vh;
  background-color: rgb(150, 249, 168);
}
